/config
ip2net/ip2net
mdig/mdig
nfq2/dvtws2
nfq2/nfqws2
nfq2/winws2.exe
nfq2/WinDivert*
tpws/tpws
binaries/my/
binaries/windows-x86/
binaries/windows-x86_64/
macos/state/
windows/config.windows.ps1
windows/strategy.windows.args
windows/winws2.args
windows/state/
ipset/zapret-ip*.txt
ipset/zapret-ip*.gz
ipset/zapret-hosts*.txt
ipset/zapret-hosts*.gz
